.gif {
	background-color: transparent;
	width: 70%;
	height: 100%;
	float: left;
}

.gif-dark {
	color: white;
	width: 70%;
	height: 100%;
	float: left;
}

.project-gif {
	width: 99%;
	margin-top: 5%;
}

.description {
	background-color: rgb(245, 245, 245);

	width: 30%;
	height: 100%;
	float: right;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.description-dark {
	background-color: rgb(46, 46, 46);
	color: white;
	width: 30%;
	height: 100%;
	float: right;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.description-md {
	background-color: rgb(245, 245, 245);

	width: 30%;
	height: 100%;
	float: right;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.description-md-dark {
	background-color: rgb(46, 46, 46);
	color: white;
	width: 30%;
	height: 100%;
	float: right;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.description h2,
p {
	margin-left: 0.5rem;
}
.description-dark h2,
p {
	margin-left: 0.5rem;
}

.description-md h2 {
	margin-left: 0.5rem;
	font-size: 1.3rem;
}

.description-md-dark h2 {
	margin-left: 0.5rem;
	font-size: 1.3rem;
}

.tech-stack {
	background-color: transparent;
	height: auto;
	width: 100%;
	justify-content: left;
	flex-wrap: wrap;
	display: flex;
	margin-left: 0.5rem;
}

.about {
	width: 98%;
	justify-content: center;
	background-color: transparent;
	/* height: 17rem; */
	/* overflow: scroll; */
}

.about-md {
	margin-top: 1rem;
	width: 98%;
	justify-content: center;
	background-color: transparent;
	/* height: 23rem; */
	height: 25rem;
	overflow: scroll;
}

.project-buttons {
	background-color: transparent;
	width: 95%;
	margin: 0 auto;
	margin-top: 1rem;
	margin-left: -0rem;
}

.project-buttons a {
	text-decoration: none;
}

.projects-main-container a {
	text-decoration: none;
}

.project-buttons Button {
	font-weight: 700;
}
