.projects-main-container {
	background-color: transparent;
	height: 135vh;
	font-family: 'Open Sans';
}

.projects-main-container h1 {
	font-weight: 800;
	font-size: 3rem;

	/* margin-top: -0rem;
	height: 5rem; */
	background-color: transparent;
	/* display: inline; */
	/* background-color: red; */
	/* width: 65%;
	margin: 0 auto; */
}

.projects-content {
	background-color: transparent;
	height: 40vh;
	margin: 0 auto;
	width: 69%;
	/* justify-content: center; */
	/* justify-content: center; */
}

/* .first:hover {
	transform: scale(1.05);
} */

.first {
	background-color: transparent;
	margin: 0 auto;
	transition: all 0.2s ease-in-out;
}

.project {
	margin: 0 auto;
	overflow-y: hidden;
	background-color: transparent;
	height: 23rem;
	position: relative;
	/* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.67); */
	width: 68rem;
	margin-left: 1%;
	overflow: auto;
	margin-top: 1rem;
	border-radius: 5px;
}

.project-2 {
	overflow-y: hidden;
	background-color: transparent;
	height: 23rem;
	position: relative;
	/* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.67); */
	width: 68rem;
	margin-left: 1%;
	overflow: auto;
	margin-top: 1rem;
	/* border-radius: 5px; */
}

.picture {
	background-color: transparent;
	width: 60%;
	height: 110%;
	float: left;
	justify-content: center;
}

.project-picture {
	width: 38.5rem;
	margin-top: 1rem;

	box-shadow: 0 1px 14px rgba(0, 0, 0, 0.67);
}

.project-picture-2 {
	width: 37rem;
	margin-top: 1rem;
	box-shadow: 0 1px 14px rgba(0, 0, 0, 0.67);
}

/* .project-picture {
	/* margin-top: 1%; */

.info {
	background-color: transparent;
	width: 40%;
	height: 100%;
	float: right;
	overflow-y: hidden;
}

.title {
	text-align: right;
	padding-right: 1rem;
}

.title.mpf {
	text-align: left;
	padding-left: 1rem;
}

.home-about {
	background-color: transparent;
	text-align: right;
	height: 30%;
	width: 100%;
	margin-top: 3rem;
}

.home-about.mpf {
	text-align: left;
}

.home-about p {
	padding: 0.5rem;
}

.tags {
	background-color: aqua;
}

.buttons {
	background-color: transparent;
	height: 15%;
	margin-top: 5%;
	text-align: right;
	padding-right: 1rem;
}

.buttons.mpf {
	text-align: left;
}

.info-2 {
	background-color: transparent;
	width: 40%;
	height: 100%;
	float: left;
}

.gif-container {
	background-color: transparent;
	height: 20rem;
	/* width: 95%; */
	margin: 0 auto;
	/* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.67); */
	margin-top: 2rem;
}

.gif_player {
	height: 100%;
	width: 100%;
	margin-top: 0.25rem;
}

.gif_player:hover {
	cursor: pointer;
}

.play_button {
	color: 'red';
}

.info-section {
	background-color: transparent;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 13rem;
	text-align: left;
}
.title-description {
	background-color: transparent;
	width: 90%;
	/* margin-left: 8%; */
	margin: 0 auto;
}

.title-description p {
	margin-left: -0rem;
}

.button-group {
	background-color: transparent;
	height: 4rem;
	width: 9.5rem;
	margin: 0 auto;
	justify-content: center;
}

.button-group Button {
	/* background-color: #ff5757; */
	margin-top: 1rem;
	font-weight: 700;
}

.button-group Button:hover {
	/* background-color: #ff5757; */
}

.second {
	background-color: transparent;
	margin: 0 auto;
	/* height: 80vh; */
}

.mobile-button-group {
	display: none;
}
/* 
.third {
	background-color: transparent;
	margin: 0 auto;
	/* margin-bottom: 1rem; */

@media (max-width: 768px) {
	.projects-content {
		height: 200vh;
	}

	.project {
		background-color: transparent;
		height: 30rem;
		position: relative;
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.67);
		width: 97%;
		margin-left: 1%;
		overflow: auto;
		margin-top: 1rem;
		overflow-y: hidden;
		z-index: 999;
	}

	.gif-container {
		height: 13rem;
	}

	.info-section {
		bottom: 2rem;
	}

	.projects-main-container {
		height: auto;
	}

	.button-group {
		display: none;
	}

	.mobile-button-group {
		display: flex;
		background-color: transparent;
		height: 4rem;

		width: 9.5rem;
		margin: 0 auto;
		justify-content: center;
	}
}

@media screen and (min-device-width: 1441px) and (max-device-width: 1921px) {
	.projects-content {
		background-color: transparent;
		width: 69%;
		/* width: 60%; */
		/* height: ; */
	}
}

/* @media screen and (max-device-width: 1920px) {
	.projects-content {
		background-color: green;
		width: 60%;
		/* width: 60%; */
/* height: ; */

/* @media screen and (max-device-width: 1920px) {
	.projects-content {
		background-color: green;
		width: 60%;
		/* width: 60%; */
/* height: ; */

/* @media screen and (min-width: 1440px) {
	.projects-content {
		width: 69%;
	}
} */

/* @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
	.projects-content {
		width: 60%;
	}
} */
/* 
@media screen and (max-device-width: 1440) {
	.projects-content {
		background-color: red;
		width: 69%;
	}
} */
/* 
@media screen and (min-device-width: 1920px) and (max-device-width: 2000px) {
	.projects-content {
		background-color: green;
		width: 50%;
	
	}

	.project {
		width: 68rem;
		height: 20rem;
	}

	.project-2 {
		width: 68rem;
		height: 20rem;
	}

	.project-picture {
		width: 39rem;
	}

	.project-picture-2 {
		width: 38rem;
	}
} */

@media screen and (min-width: 1670px) {
	.projects-content {
		width: 69%;
	}

	.project {
		width: 75rem;
		height: 25rem;
	}

	.project-2 {
		width: 75rem;
		height: 25rem;
	}

	.project-picture {
		/* width: 38rem; */
		width: 96%;
	}

	.project-picture-2 {
		/* width: 37rem; */
		width: 96%;
	}
}

@media screen and (min-width: 1921px) {
	.projects-main-container {
		height: 110vh;
	}
	.projects-content {
		width: 69%;
	}

	.project {
		width: 100rem;
		height: 31rem;
	}

	.project-2 {
		width: 100rem;
		height: 32rem;
	}

	.project-picture {
		width: 57rem;
	}

	.project-picture-2 {
		width: 56rem;
	}
}

/* .project-columns {
	background-color: red;
} */
/* 
.project-columns .first {
	background-color: salmon;
} */
